.notes {
    display: flex;
    flex: 1;
    height: 100%;
}

.note-row {
    display: flex;
}

.note {
    border: 1px solid #cecece;
}

.note.active,
.note.active:hover {
    background-color: #2196f3;
}

.note:hover {
    background-color: rgba(89, 173, 239, 0.72);
}